<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>간단한 지도 표시하기</title>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mwlj3gnn1r"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <ul id="navbar">
      <li>
          <a href="/">firstmap</a>
      </li>
      <li>
          <li style ="float:right;">
              <a class="active" href="/upload">Upload</a>
      </li>
      
      </ul>
    <div id="map" style="height: 100vh;width: 100%;"></div>

    <script>

    </script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
